{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<script src="{% static 'django_ckeditor_5/dist/bundle.js' %}"></script>
<style>
  /* Make sure CKEditor toolbar is visible */
  .ck.ck-toolbar {
    visibility: visible !important;
    opacity: 1 !important;
    display: flex !important;
  }
  
  /* Ensure CKEditor is properly sized */
  .django_ckeditor_5 {
    min-height: 200px;
  }
</style>
{% endblock %}

{% block footer %}
{{ block.super }}
<script src="{% static 'core/js/ckeditor_init.js' %}"></script>
{% endblock %} 