Django==3.2.9
django-filter==22.1
django-import-export==3.0.2
django-rangefilter==0.9.0
django-storages==1.13.2
boto3==1.26.109
djangorestframework==3.14.0
# Use a pre-built wheel for Pillow
pillow==9.2.0
django-allauth==0.54.0
social-auth-app-django==5.2.0
django-ckeditor==6.5.1
django-ckeditor-5==0.2.18
# Use pg8000 instead of psycopg2 to avoid compilation issues
pg8000==1.29.4
django-cors-headers==3.14.0
python-dotenv==1.0.1
dj-database-url==2.1.0
whitenoise==6.5.0
gunicorn==21.2.0
